body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(211, 177, 225);
    background-color:cornflowerblue;
}

h1 {
    color: white;
    font-size: 35px;
}

.events {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event {
    width: 550px;
    border-radius: 10px;
    margin: 2.5% 2.5% 2.5% 2.5%;
    background-color: rgb(225, 225, 225);
}
.event-title {
    font-size: 18px;
    text-align: center;
    height: 5%;
}
.event-info {
    width: 100%;
    height: 60%;
    display: flex;
}

.image {
    width: 45%;
    margin-left: 2.5%;
    height: 180px;
}

.description {
    width: 45%;
    margin-left: 2.5%;
}

.date-hour-place {
    text-align: right;
    margin-right: 50px;
}

.access-button {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 125px;
    font-size: 18px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, hsla(167, 57%, 48%, 1) 0%, rgb(14, 216, 192) 100%);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.access-button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 0.5s;
}

#image_1 { background: linear-gradient(90deg, rgb(60, 157, 195) 0%, hsla(217, 78%, 69%, 1) 100%); }
#image_2 { background: linear-gradient(90deg, rgb(100, 125, 236) 2%, rgb(208, 170, 226) 100%); }
#image_3 { background: linear-gradient(90deg, rgb(31, 159, 192) 2%, rgb(108, 207, 220) 100%); }
#image_4 { background: linear-gradient(90deg, rgb(126, 208, 231) 2%, rgb(30, 123, 230) 100%); }